section.b-promo.promo-2nd
    .container
        .row
            .col-md-12
                a.__link.promo-2nd__home-link(href="index.html") На главную
                h1.__title Сборные дома
                h2.__subtitle Каркасно-панельные (ЛСТК, ОСБ) 
                h2.__subtitle Модульные здания (ЛМК, ЛСТК)
            .col-md-11.offset-md-1
                h3.promo-2nd__header Изготовление в Новосибирске:
                ul.promo-2nd__list
                    li.promo-2nd__item Сборные дома
                    li.promo-2nd__item Бани
                    li.promo-2nd__item Магазинчики
                    li.promo-2nd__item Индивидуальные заказы
            
        block promo-cards
            .b-promo-cards.row
                .__item.promo-cards__item-2nd.col-12.col-md-6.col-lg-6
                    .__title От 15000 за кв. метр
                    .__wrapper
                        .__text Материалы доставим за свой счёт!
                .__inner.col-12
                    a(href="https://wa.me/"+phoneNumber target="blank")
                        button.main-btn.btn Заказать сейчас!
