section.b-section-1
    .container
        .__label Регалии
        h3.__title Краткий список наших достижений
        .b-section-1-cards.row
            .col-10.offset-1.col-sm-8.offset-sm-2.col-md-6.offset-md-3.col-lg-4.offset-lg-0
                .__item
                    .__title 20 лет на рынке!   
                    .__box
                        img.__img(src="images/content/section-1/superhero.svg", alt="20 лет на рынке")
                    .__wrapper
                        .__text Материалы доставим за свой счёт!
            .col-10.offset-1.col-sm-8.offset-sm-2.col-md-6.offset-md-3.col-lg-4.offset-lg-0
                .__item
                    .__title Собственнное производство
                    .__box
                        img.__img(src="images/content/section-1/factory.svg", alt="Собственное производство!")
                    .__wrapper
                        .__text На проектирование и изготовление конструкций
            .col-10.offset-1.col-sm-8.offset-sm-2.col-md-6.offset-md-3.col-lg-4.offset-lg-0
                .__item
                    .__title Команда настоящих профессионалов
                    .__box
                        img.__img(src="images/content/section-1/engineer.svg", alt="Своя команда")
                    .__wrapper
                        .__text На проектирование и изготовление конструкций
            <?php the title();?>
        
       
