section.b-section-3
    .container
        .__label Алгоритм
        h3.__title Как мы работаем
        .b-section-3-cards.row
            .col-md-6.offset-md-3.col-lg-4.offset-lg-0
                .__item
                    .__title
                        span.__num 01
                        | Заявка
                    .__box
                        img.__img(src="images/2nd/content/section-3/phone.svg", alt="Заявка")
                    .__wrapper
                        .__text Вы отправляете нам заявку
            .col-md-6.offset-md-3.col-lg-4.offset-lg-0
                .__item
                    .__title
                        span.__num 02                   
                        | Проект 
                    .__box
                        img.__img(src="images/2nd/content/section-3/project.svg", alt="Смета")
                    .__wrapper
                        .__text Мы разрабатываем предварительный проект
            .col-md-6.offset-md-3.col-lg-4.offset-lg-0
                .__item
                    .__title
                        span.__num 03                        
                        | Смета   
                    .__box
                        img.__img(src="images/2nd/content/section-3/money.svg", alt="Смета")
                    .__wrapper
                        .__text Производим расчёт стоимости
            .col-md-6.offset-md-3.col-lg-4.offset-lg-2
                .__item
                    .__title
                        span.__num 04                         
                        | Изготовление 
                    .__box
                        img.__img(src="images/2nd/content/section-3/building.svg", alt="Проект")
                    .__wrapper
                        .__text Приступаем к изготовлению
            .col-md-6.offset-md-3.col-lg-4.offset-lg-0
                .__item
                    .__title
                        span.__num 05 
                        | Доставка 
                    .__box
                        img.__img(src="images/2nd/content/section-3/mover-truck.svg", alt="Доставка")
                    .__wrapper
                        .__text Доставляем товар удобным способом
            .__inner.col-8.offset-2
                a(href="https://wa.me/"+phoneNumber target="blank")
                    button.main-btn.btn Заказать сейчас!