section.b-section-4
    .container
        .__label Сертификаты
        h3.__title С нами надежно
        .__wrapper.row
            .__col.col-md-6.offset-md-3.offset-lg-0.col-lg-6
                a.__link(href="/pdf/sro1.pdf" target="blank" data-rel="_PhotoGallery1")
                    img.__img(src="images/2nd/content/section-4/q-1.jpg" alt="Свидетельство-1")
            .__col.col-md-6.offset-md-3.offset-lg-0.col-lg-6
                a.__link(href="/pdf/sro1.pdf" target="blank")
                    img.__img(src="images/2nd/content/section-4/q-2.jpg" alt="Свидетельство-2")