section.b-section-2
    .container-fluid
        .__label Работы
        h3.__title Примеры наших работ
        .row
            .col-12.col-md-10.offset-md-1   
                .b-slider
                    .__item
                        img.__img(data-lazy="images/2nd/content/section-2/1.jpeg", alt="1")
                    .__item
                        img.__img(data-lazy="images/2nd/content/section-2/2.jpeg", alt="2")
                    .__item
                        img.__img(data-lazy="images/2nd/content/section-2/3.jpeg", alt="3")
                    .__item
                        img.__img(data-lazy="images/2nd/content/section-2/4.jpeg", alt="4")
                    .__item
                        img.__img(data-lazy="images/2nd/content/section-2/5.jpeg", alt="5")
                    .__item
                        img.__img(data-lazy="images/2nd/content/section-2/6.jpeg", alt="6")
                    .__item
                        img.__img(data-lazy="images/2nd/content/section-2/7.jpeg", alt="7")
                    .__item
                        img.__img(data-lazy="images/2nd/content/section-2/8.jpeg", alt="8")
                    .__item
                        img.__img(data-lazy="images/2nd/content/section-2/9.jpeg", alt="9")
                    .__item
                        img.__img(data-lazy="images/2nd/content/section-2/10.jpeg", alt="10")
