main
    block promo
        include content/promo
    block section-1
        include content/section-1    
    block section-2
        include content/section-2
    block section-3
        include content/section-3
    block section-4
        include content/section-4
    block section-5
        include content/section-5