footer .header-info{
    position: relative;
    background: url("assets/images/2nd/footer/bg.svg") 0 0 no-repeat, rgba(0,0,0, 0.3) center center/cover no-repeat;
    background-size: 100% auto;
    background-blend-mode: overlay;
}
footer{
    border-top: 15px solid #fff;
}