// Mobile first
$mediaWidthMobile: 320px;
$mediaWidthTablet: 768px;
$mediaWidthTabletHorizontal: 1024px;
$mediaWidthLaptop: 1366px;

// global

$font-size: 1.5rem;

$screen-xs: 479px;
$screen-sm: 575px;
$screen-md: 767px;
$screen-lg: 991px;
$screen-xl: 1199px;


$main-color: #29B297;
$middle-color:#fff;
$last-color: #6C3BB3;
$btn-color: $main-color;
$header-link-color: #fff;
$map-link-color: #1fbad6;
$footer-main-link-color: #000;
$footer-sub-link-color: #999999;


$post-font-family: 'Verdana', sans-serif;
$color: rgba(109, 59, 179, 0.952);