section.b-promo
    .container
        .row
            .col-md-12
                h1.__title Разработка и изготовление
                h2.__subtitle
                    a.__link(href="2nd.html") Сборные дома
                h2.__subtitle
                    a.__link(href="javascript:void(0)") Металлоконструкции
                h2.__subtitle
                    a.__link(href="javascript:void(0)") Проектные работы
            .col-12
                ul.promo-2nd__list
                    li.promo-2nd__item Каркасные дома
                    li.promo-2nd__item Металлоконструкции
                    li.promo-2nd__item Ангары
                    li.promo-2nd__item Архитектурные проекты
        block promo-cards
            .b-promo-cards.row
                .__item.col-md-12.col-lg-4
                    .__title Бесплатная доставка!
                    .__box
                        img.__img(src="images/content/promo/shipping.svg", alt="бесплатная доставка")
                    .__wrapper
                        .__text Материалы доставим за свой счёт!
                .__item.col-md-12.col-lg-4
                    .__title Архитектурный проект в подарок!
                    .__box
                        img.__img(src="images/content/promo/gift.svg", alt="Архитектурный проект в подарок!")
                    .__wrapper
                        .__text На проектирование и изготовление конструкций
                .__item.col-md-12.col-lg-4
                    .__title Проверенные поставщики материалов
                    .__box
                        img.__img(src="images/content/promo/bussiness.svg", alt="Проверенные поставщики материалов")
                    .__wrapper
                        .__text За долгое время на рынке сложилась база надёжных поставщиков, благодаря чему цена будет приятной для наших клиентов!
                .__inner.col-12
                    button.main-btn.__main-btn.btn Заказать сейчас!
        block about
            .b-about
                .row
                    .col-12
                        h1.__title О нас
                .__item.row
                    .__text.col-12.col-xl-6 ООО «СтройСибПроект»-это фирма,оказывающая широкий спектр качественных строительных и монтажных услуг в г.Новосибирске и Новосибирской области. 
                        br
                        |Результат нашей работы,в которой лежат отвественность и уважение к заказчику- это доверие клиентов!
                        br
                        | За 3 года работы на рынке,мы добились отличных результатов. Множество довольных клиентов,множество сданных объектов,как жилых, так и административных. 
                        br
                        | Мы гордимся тем,что работаем с отличными и надежными партнерами,которые являются   ведущими поставщиками строительных материалов и оборудования в России!
                    .__wrap.col-12.col-xl-6
                        img.__img(src="images/content/achievment.jpg", alt="Достижения")
                .__item.row
                    .__text.col-12.col-xl-6 Основные направления деятельности компании:
                        br 
                        |- Жилищное,коммерческое и промышленное строительство;
                        br
                        | - Монтаж любых строительных конструкций;
                        br
                        |- Технический надзор за строительством объектов.
                        br
                        | Мы имеем свобственное производство,что позволяет сократить затраты на строительство. Позволяет контролировать качество изготавливаемой продукции. Полный контроль от  начала проекта до сдачи «под ключ»!
                    .__wrap.col-12.col-xl-6
                        img.__img(src="images/content/achievment.jpg", alt="Достижения")

                .__item.row
                    .__text.col-12.col-xl-6 Уровень наших специалистов соответствует самым высоким требованиям.Мы Обладаем всеми необходимыми строительными сертификатами и разрешительной документацией для выполнения индивидуальных и государственных строительных заказов.
                        br
                        | ООО «СтройСибПроект» - это коллектив настоящих профессионалов,преданных своему делу!

                    .__wrap.col-12.col-xl-6
                        img.__img(src="images/content/achievment.jpg", alt="Достижения")